.a-char {
    width:480px ;
    height:75px ;
}


.b-char {
    width:480px ;
    height:150px ;
}


.c-char {
    width:480px ;
    height:125px ;
}


.d-char {
    width:480px ;
    height:125px ;
}


.e-char {
    width:240px ;
    height:250px ;
}


.f-char {
    width:240px ;
    height:250px ;
}


.g-char {
    width:480px ;
    height:75px ;
}


.h-char {
    width:480px ;
    height:75px ;
}


.i-char {
    width:480px ;
    height:75px ;
}