.a-char {
    background-color: aquamarine;
}


.b-char {
    background-color: red;
}


.c-char {
    background-color: black;
}


.d-char {
    background-color: green;
}


.e-char {
    background-color: greenyellow;
}


.f-char {
    background-color: blue;
}


.g-char {
    background-color: blueviolet;
}


.h-char {
    background-color: tomato;
}


.i-char {
    background-color: white;
}





